<nav class="navbar navbar-expand-md navbar-light bg-white shadow-sm navbar-hover">


    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHover"
        aria-controls="navbarDD" aria-expanded="false" aria-label="Navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarHover">
        <ul class="navbar-nav">



            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href=""
                    data-toggle="dropdown_remove_dropdown_class_for_clickable_link" aria-haspopup="true"
                    aria-expanded="false">
                    Category(Electronics)
                </a>

                <ul class="dropdown-menu">



                    <li>
                        <a class="dropdown-item dropdown-toggle" href="">Subcategory(Computer)</a>

                        <ul class="dropdown-menu">

                            <li>
                                <a class="dropdown-item" href="">childcategory(Dell laptop)
                                </a>
                            </li>
                        </ul>

                    </li>


                </ul>

            </li>

        </ul>
    </div>
</nav>




<main class="py-4">
    @yield('content')
</main>
</div>
<style>
/* .navbar li a {
    color: white !important;
} */

.dropdown:hover>.dropdown-menu {
    display: block;
}

/* hover dropdown menus */
@media only screen and (max-width: 991px) {
.navbar-hover .show > .dropdown-toggle::after{
transform: rotate(-90deg);
}
}
@media only screen and (min-width: 492px) {

.navbar-hover .collapse ul li{position:relative;}
.navbar-hover .collapse ul li:hover> ul{display:block}
.navbar-hover .collapse ul ul{position:absolute;top:100%;left:0;min-width:250px;display:none}
.navbar-hover .collapse ul ul ul{position:absolute;top:0;left:100%;min-width:250px;display:none}

</style>